body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    margin: 0;
}

.img {
    max-width: 200px;
}

.first-part {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    width: 60%;
}

a,
.part-one-text {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 18px;
}

.Hero-text-one {
    width: 500px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.Hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    margin: 0;
}

.Hero-text {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 80px;
    padding-top: 64px;
    width: 60%;
    justify-content: space-between;
    flex-wrap: wrap;
}

#button-one {
    background-color: #3882F6;
    padding: 8px 32px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    outline: none;
    border: none;
}

.title {
    text-align: center;
    padding: 60px;
    font-size:36px;
    font-weight: bolder;
    color: #1F2937;
}

.information {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.info-box {
    max-width: 300px;
    text-align: center;
}

.info-box img {
    border-radius: 16px;
}

.second-part {
    padding-bottom: 80px;
}

.third-part {
    background-color: #E5E7EB;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    width:50%
}

.author-name {
    font-size: 24px;
    font-weight: bold;
    width: 50%;
}

.fourth-part {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color:#3882F6;
    color: white;
    border-radius: 16px;
    padding: 50px 170px;
    width: 45%;
}

.call-text {
    font-size: 24px;
    font-weight: bold;
}

.sign-text {
    font-size: 18px;
}

#button-two {
    background-color: #3882F6;
    padding: 8px 32px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    border: 3px solid white;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color:white;
}
